
header {
  letter-spacing: 3px;
}


.btn-outline-light {
  color: #000!important;
  border-width: 3px;
  border-color: #ffffff!important;
}

.bg-grey{
  background-color: #d5d5d5;
}
.card-icon-wrap{
  min-height: 50px;
}
.read-card-container{
  height:300px;
  margin-bottom:8rem!important;
}

.read-card-img{
  height: 300px;
  width: 100%;
  background-color: #464646;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.read-card-no{
  height: 55px;
}
.read-card-first{
  width: 95%;
    z-index: 1;
}
.read-card-second{
  margin-top: -220px;
  margin-left: 15%;
  z-index: 0;
  height: 100%;
}
.bg-gradient{
  background: linear-gradient(90deg, rgb(209 245 195) 30%, rgb(144 238 241) 100%);
  -webkit-background: linear-gradient(90deg, rgb(209 245 195) 30%, rgb(144 238 241) 100%);
  -moz-background: linear-gradient(90deg, rgb(209 245 195) 30%, rgb(144 238 241) 100%);
}
.swipeable-list{
  min-height: 250px;
}
.swipeable-list-item__content{
  background-color:transparent!important;
}